.content {
    width: 90%;
    height: 80vh;
    margin: 10vh auto;
    background: var(--secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.content h2 {

    font-size: 40px;
    margin: 30px 0;
}
.content form {
    /* border: 2px solid var(--primary); */
    min-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 10%
}
::placeholder {
    font-size: 20px;
    color: var(--secondary);
}
.content form input {
    height: 45px;
    border-radius: 20px;
    width: 70%;
    border: none;
    outline: none;
    background: var(--primary);
    color: var(--secondary);
    font-size: 20px;
    padding-left: 10px;
}
.content form button {
    width: 25%;
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 20px;
    background: var(--primary);
    position: relative;
    right: 23%;
    color: var(--secondary);
    height: 45px;
    transition: 0.5s;
}
.content form button:hover {
    box-shadow: inset 0 -50px 0 var(--secondary);
    color: var(--primary);
    border: 1px solid var(--primary)
}

span {
    font-size: 20px;
}
span a {
    color: var(--primary);
    text-decoration: underline;
}


@media screen and (max-width: 1000px) {
    .content {
        width: 100vw;
        height: 100vh;
        margin: 0;
    }
    .content form {
        width: 80%;
        margin-top: 25%;
    }
}